<mat-list>
    <mat-list-item *ngFor="let hit of hits" (click)="openItem(hit.story_url)">
        <div mat-line>
            <span class="title">{{hit.title }}.</span>
            <span class="author"> - {{hit.author }} -</span>
        </div>
        <div flex="none" class="date">{{ hit.created_at | niceDateFormatPipe }}</div>
        <div class="button-row" (click)="delete(hit)">
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>