.mat-list-item:hover {
    background-color: #fafafa;
}
.row{
    background-color: #fff;
    border: 1px #ccc;
}
.title{
    color: #333;
    font-size: 13pt;
}
.author{
    color: #999
}
.date{
    width: 5%;
}
.button-row{
    visibility: hidden;
}
.mat-list-item:hover .button-row {
    visibility: visible;
}
@media only screen and (max-width: 600px) {
    .mat-list .mat-list-item{
        height: 70px;
    }
    .date{
        width: 20%;
        padding: 5px;
    }
}